/* ===================== VARIABLES ===================== */
:root {
    --primary: #A10057;
    --primary-hover: #800045;
    --dark: #000000;
    --sidebar-bg: #1e293b;
    --bg-main: #f8fafc;
    --white: #ffffff;
    --text-main: #000000;
    --text-muted: #334155;
    --border: #e2e8f0;
    --danger: #fc16ce;
}
